.button {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none;
    /* background: #0D162A; */
    background: #07296d;
    color: azure;
    -webkit-box-shadow: -5px -5px 15px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -5px -5px 15px 0px rgba(0, 0, 0, 1);
    box-shadow: -5px -5px 15px 0px rgba(0, 0, 0, 1);
}

.buttonzero {
    width: 100%;
}

.buttonequals {
    height: 100%;
}

.button:active {
    -webkit-box-shadow: inset -5px -5px 15px 0px rgba(0,0,0,1);
-moz-box-shadow: inset -5px -5px 15px 0px rgba(0,0,0,1);
box-shadow: inset -5px -5px 15px 0px rgba(0,0,0,1);
}

