.calculator {
    display: grid;
    grid-gap: 15px;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    grid-template-areas:
        "result result result result"
        "box10 box11 box12 box13"
        "box7 box8 box9 box14"
        "box4 box5 box6 box15"
        "box1 box2 box3 box16"
        "box0 box0 box17 box16";
}


.result {
    display: grid;
    grid-area: result;
    height: 50px;
    border: solid black 1px;
    border-radius: 30px;
    color: azure;
    align-items: center;
    justify-content: end;
    padding-right: 25px;
    -webkit-box-shadow: inset -5px -5px 15px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset -5px -5px 15px 0px rgba(0, 0, 0, 1);
    box-shadow: inset -5px -5px 15px 0px rgba(0, 0, 0, 1);
}

.box0 {
    grid-area: box0;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.box8 {
    grid-area: box8;
}

.box9 {
    grid-area: box9;
}

.box10 {
    grid-area: box10;
}

.box11 {
    grid-area: box11;
}

.box12 {
    grid-area: box12;
}

.box13 {
    grid-area: box13;
}

.box14 {
    grid-area: box14;
}

.box15 {
    grid-area: box15;
}

.box16 {
    grid-area: box16;
}

.box17 {
    grid-area: box17;
}

.screen {
    background-color: transparent;
    border: none;
    color: azure;
    text-align: end;
    height: 35px;
    font-size: 1.5em;
}